pygame==2.5.2
psutil==5.9.0
numpy==1.25.2
torch==2.3.0+cu118
speechrecognition==3.8.1
edge-tts==6.1.9
opencv-python==4.8.0
beautifulsoup4==4.12.2
requests==2.31.0
PyQt5==5.15.12
pyautogui
pyperclip
nvidia-ml-py
pywin32
Pillow
transformers
llama-cpp-python
ultralytics
rapidocr_onnxruntime
mss
screen_parser
pyttsx3
lxml
qwen-vl-utils
onnxruntime-gpu